@import url("./fonts/TmoneyRoundWind.css");

div::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}
div::-webkit-scrollbar-thumb {
    background: #141124;
    border-radius: 5px;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #141124;
    color: #141124;
    font-family: 'TmoneyRoundWind', sans-serif;
}
textarea {
    font-family: 'TmoneyRoundWind', sans-serif;
}
.disable {
    display: none;
}
#app {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
button, input {
    font-family: 'TmoneyRoundWind', sans-serif;
}
button {
    cursor: pointer;
}
.yt-vid {
    width: 100%;
    height: 100%;
}